apiVersion: 1

datasources:
  - name: Icinga2
    type: influxdb
    access: proxy
    url: 'http://localhost:8086'
    database: {{ influxdb_db }}
    user: {{ influxdb_user }}
    password: "{{ influxdb_password }}"
    basicAuth: false
    editable: true
    is_default: true