object ApiListener "api" {
  accept_commands = true
  accept_config = true

  ticket_salt = TicketSalt
}

object ApiUser "{{ icinga2_api_user }}" {
  password = "{{ icinga2_api_password }}" 
  permissions = [ "status/query", "actions/*", "objects/modify/*", "objects/query/*" ]
}
